@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body{
  font-family: "Montserrat", sans-serif !important;
}
.dark{
  background-color: #111015 !important;
}

.mb-30 {
  margin-bottom: 30px;
}
.dashboard {
  padding: 20px 0px;
}
.light {
  background-color: #f8f9fe !important;
  color: #111015;
}
.light .navbar-main .left-container .left .icon {
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.light .navbar-main .left-container .left .icon svg {
  color: #111015;
}
.light .navbar-main .left-container .left .location .text {
  color: #111015;
}
.light .navbar-main .left-container .search-wrapper input {
  
  color: #111015;
}
.light::placeholder {
  color: #111015;
}
.light .navbar-main .right-wrapper .toggler {
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;

}
.light .dashboard .filter-top .toggle-buttons button.active {
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
  outline: none;
}
.light .navbar-main .right-wrapper .toggler .circle {
  background-color: #111015;
}
.light .navbar-main .right-wrapper .toggler .circle svg {
  color: #111015;
}
.light .dashboard .filter-top .filter-left .days .day {
  color: #444;
}
.light .dashboard .filter-top .filter-left .days .day.active {
  color: #111015;
}
.light .dashboard .filter-top .filter-right-title {
  color: #111015;
}
.light .days-stats .day-stat-wrapper {
  background-color:#fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.light .days-stats .day-stat-wrapper .day {
  color: #111015;
}
.light .days-stats .day-stat-wrapper .temp {
  color: #111015;
}
.light .single-stat,.light .all-cities-wrapper .city {
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.light .single-stat .title,.light .single-stat .flex-item .text ,..light .single-stat .flex-item .text,
.light .single-stat .flex-center .text ,.light .all-cities-wrapper .city .data .title-small ,.light .all-cities-wrapper .city .data .title,
.light .all-cities-wrapper .city .data .title-white ,.light .single-stat .flex-item .text-small {
  color: #111015;
}
.navbar-main {
  
  padding: 10px 50px;
  border-radius: 15px;
}
.navbar-main .left-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-main .left-container .left {
  display: flex;
  align-items: center;
  gap: 14px;
}
.navbar-main .left-container .left .icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#1B1B1D;
}
.navbar-main .left-container .left .icon img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.navbar-main .left-container .left .icon svg {
  color: white;
  font-size: 24px;
}
.navbar-main .left-container .left .location {
  display: flex;
  align-items: center;
  gap: 8px;
}
.navbar-main .left-container .left .location img,.navbar-main .left-container .left .location svg {
  width: 24px;
  height: 24px;
  object-fit: contain;
  color: white;
  font-size: 24px;
}
.light .navbar-main .left-container .left .location svg {
  color: #111015;
}
.navbar-main .left-container .left .location .text {
 
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
color: white;

}
.navbar-main .left-container .search-wrapper {
  position: relative;
}
.navbar-main .left-container .search-wrapper .svg svg {
  position: absolute;
  left: 15px;
  top: 19px;
  font-size: 24px;
  color: #fff;
  z-index: 99;
}
.navbar-main .left-container .css-84nhb1-MuiAutocomplete-root {
  position: relative;
  width: 480px;
  background-color: #1B1B1D;
  
  border-radius: 10px;
  color: white;
  border: none;
}
.light .navbar-main .left-container .css-84nhb1-MuiAutocomplete-root {
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}
.navbar-main .left-container .css-84nhb1-MuiAutocomplete-root  input {
  background-color: transparent;
  color: white;
  padding-left: 60px;
}
.light .navbar-main .left-container .css-84nhb1-MuiAutocomplete-root input {
  color: #111015;
}
.navbar-main .left-container .css-84nhb1-MuiAutocomplete-root  input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  display: none !important;
}
.navbar-main .right-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 14px;
}
.navbar-main .right-wrapper .profile {
  height: 40px;
  width: 40px;
}
.navbar-main .right-wrapper .profile img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.navbar-main .right-wrapper .toggler {
  height: 36px;
  width: 80px;
  background-color: #19191B;
  border: 1px solid #626161;
  border-radius: 20px;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

}
.navbar-main .right-wrapper .toggler input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  transition: all 0.3s ease-in-out;
  top: 0px;
  z-index: 99;
  opacity: 0;
  cursor: pointer;
}
.navbar-main .right-wrapper .toggler input[type="checkbox"]:checked + .circle {
  left: auto;
  right: 3px;
  transition: all 0.3s ease-in-out;
}
.navbar-main .right-wrapper .toggler .circle {
  position: absolute;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease-in-out;
  top: 3px;
  background-color: white;
  left: 3px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-main .right-wrapper .toggler .circle img ,.navbar-main .right-wrapper .toggler .circle svg{
  width: 20px;
  height: 20px;
  object-fit: contain;
  color: #111015;
  font-size: 20px;
}
::placeholder{
  color: white;
}
.light .navbar-main .right-wrapper .toggler .circle svg  {
  color: #fff;
}
.navbar-main .left-container .search-wrapper img{
  width: 20px;
  font-size: 20px;
  color: white;
  object-fit: contain;
  position: absolute;
  left: 10px;
  top: 10px;
}
.light .navbar-main .left-container .search-wrapper .svg svg {
  color: black;
}
.navbar-main .left-container .search-wrapper input {

background-color: transparent;
border-radius: 10px;
padding: 10px;
outline: none;
border: none;
padding-left: 40px;
width: 100%;

}
.dashboard .filter-top .filter-left{
  display: flex;
  justify-content: space-between;
}

.dashboard .filter-top .filter-left .days {
  display: flex;
  align-items: center;
  gap: 15px;
}
.dashboard .filter-top .filter-left .days .day {
  color: #818085;
 
font-size: 20px;
cursor: pointer;
font-weight: 400;
line-height: 24.38px;


}
.dashboard .filter-top .filter-left .days .day.active {
  color: white;
}

.dashboard .filter-top .toggle-buttons {
  border-radius: 30px;
  height: 30px;
  display: flex;
 
  font-weight: 500;
  align-items: center;
}
/* Rectangle 3 */



.dashboard .filter-top .toggle-buttons button {
  flex: 0 0 50%;
  border-radius: 50px;
  height: 30px;
  border: none;
  background-color: transparent;
  outline: none;
  color: #BBD7EC;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}
.dashboard .filter-top .toggle-buttons button.active {
  background-color: #BBD7EC;
  color: #1E1E1E;
  padding: 5px 10px;
}
.dashboard .filter-top .filter-right-title{

font-size: 20px;
font-weight: 500;
line-height: 24.38px;
text-align: left;
color: white;

}
.days-stats .day-stat-wrapper {
  padding-bottom: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
height: 226px;
  background: #1E1E1E;
  max-width: 90px;
  transition: all 0.3s ease-in-out;
}
.days-stats .day-stat-wrapper:hover {
  transform: scale(1.04);
}
.days-stats .day-stat-wrapper .day {
  font-family: Montserrat;
font-size: 16px;
font-weight: 600;
text-align: center;
line-height: 19.5px;
padding: 10px 5px;
border-bottom: 1px solid #39393A;
color: #E5E5E5;
}
.days-stats .day-stat-wrapper img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 5px auto;
}
.days-stats .day-stat-wrapper .temp {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 39.01px;
  color: #FDFDFD;
  text-align: center;
  position: relative;
  width: max-content;
  margin: 5px auto;
  
}
.days-stats .day-stat-wrapper .text-white {
  font-size: 12px;
  text-align: center;
}
.light .days-stats .day-stat-wrapper .text-white {
  color: #111015;
}
.days-stats .day-stat-wrapper .temp span {
  position: absolute;
  top: -16px;
  right: -10px;
  font-size: 20px;
}
.days-stats .day-stat-wrapper .graph {
  height: 226px;
  width: 100%;
  
 
}
.graph {
  transition: all 0.3s ease-in-out;
}
 .graph:hover {
  transform: scale(1.04);
}
.light .days-stats .graph {
  
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 
}
.days-stats .day-stat-wrapper .graph img{
  height: 226px;
  width: 100%;
  object-fit: cover;
 
}
.days-stats  .today-stat {
  min-height: 226px;
  border-radius: 25px;
  background: #bbd7ec;
}
.light .days-stats .today-stat {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.days-stats  .today-stat .header {
  height: 56px;
  border-radius: 25px 25px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: #AECADF;
  padding: 5px 12px;


}
.days-stats  .today-stat .header span {
  color: #0F0F11;
  font-size: 16px;
font-weight: 600;
line-height: 19.5px;


}
.days-stats  .today-stat .content {
  padding: 12px;
}
.days-stats  .today-stat .content .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.days-stats  .today-stat .content .top .text{
  
font-size: 36px;
font-weight: 600;
line-height: 43.88px;
text-align: left;
color: #0F0F11;
position: relative;
width: max-content;

}
.days-stats  .today-stat .content .top .text span {
  position: absolute;
  top: -16px;
  right: -10px;
  font-size: 24px;
}
.days-stats  .today-stat .content .top img {
  width: 56px;
  height: auto;
  object-fit: contain;
}
.days-stats  .today-stat .content .text-small {
 
font-size: 12px;
font-weight: 400;
line-height: 18.07px;
text-align: left;
color: #4F5658;
}
.days-stats  .today-stat .content .text-small span {
  color: #0F0F11;
  font-weight: 600;
  position: relative;
  width: max-content;
}
.days-stats  .today-stat .content .text-small span span {
  position: absolute;
  top: -6px;
  right: -6px;
  font-size: 8px;
}
.days-stats .graph {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B1B1D;
  border-radius: 15px;
  height: 226px;
}
.css-10vg0a6-MuiResponsiveChart-container {
  width: 100%;
  height: auto;
}
.days-stats .graph .css-1k2u9zb-MuiChartsAxis-root .MuiChartsAxis-tickLabel {
  color: white;
  fill: white;
}
.light .days-stats .css-1k2u9zb-MuiChartsAxis-root .MuiChartsAxis-tickLabel  {
  color: #111015;
  fill: #111015;
}
.css-1k2u9zb-MuiChartsAxis-root .MuiChartsAxis-line {
  stroke: white !important;
}
.light .css-1k2u9zb-MuiChartsAxis-root .MuiChartsAxis-line {
  stroke: #111015 !important;
}
.days-stats .today-stat .content .text-small-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.days-stats .today-stat {
  transition: all 0.3s ease-in-out;
}
.days-stats .today-stat:hover {
  transform: scale(1.04);
}
.dashboard .title-main {
  
font-size: 20px;
font-weight: 500;
line-height: 24.38px;
text-align: left;
color: #FFFFFF;

}
.light .dashboard .title-main {
  color: #111015;
}
.all-cities-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.all-cities-top .title {
 
font-size: 16px;
font-weight: 500;
line-height: 19.5px;
text-align: left;
color: #FFFFFF;

}
.all-cities-top .link {
 
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
color: #FFFFFF;

}
.single-stat-wrapper {
  width: 47% !important;
}
.single-stat {
  height: 245px;
  border-radius: 15px;
  background-color: #1B1B1D;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
 
}
.single-stat:hover {
  transform: scale(1.04);
}
.single-stat .title {
 
font-size: 16px;
font-weight: 500;
line-height: 19.5px;

color: #FFFFFF;
}
.light .single-stat .title {
  color: #111015;
}
.single-stat img {
  width: 100%;
  height: 65px;
  object-fit: contain;
}
.single-stat .image-wrapper {
  display: flex;
  justify-content: center;
}
.single-stat .image-wrapper  img {
  width: 100%;
  height: 70px;
  object-fit: contain;

}
.single-stat .flex-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.single-stat .flex-item .text{
 
font-size: 16px;
font-weight: 600;
line-height: 19.5px;
color: #fff;

}
.single-stat .flex-item .text-small {
  font-size: 14px;
font-weight: 400;
line-height: 19.5px;
color: #f5f5f5;
}
.single-stat .flex-item .text span {
font-size: 14px;
}
.light .single-stat .flex-item .text , .light .single-stat .flex-item .text-small , .light .single-stat .flex-center .text{
  color: #111015;
}
.single-stat .flex-center {
  display: flex;
  justify-content: center;
}
.single-stat .flex-center .text {

font-size: 20px;
font-weight: 600;
line-height: 24.38px;
color: white;

}
.single-stat .flex-center .text span {
  font-weight: 400;
}
.single-stat-map-wrapper {
  height: 520px;
  border-radius: 15px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.single-stat-map-wrapper:hover {
  transform: scale(1.04);
}
.single-stat-map-wrapper img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.single-stat-map-wrapper .data {
  position: absolute;
  left: 0px;
  top: 0px;
  padding:70px 12px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  
}
.single-stat-map-wrapper .data .text {
  padding: 15px;
font-size: 24px;
border-radius: 10px;
font-weight: 600;
line-height: 29.26px;
text-align: center;
color: #060609;
background-color: #bbd7ec;

}
.single-stat-map-wrapper .data button {
  border-radius: 15px;
  background-color: #D9D9D9;
  height: 80px;
  width: 260px;
  border: none;
font-size: 24px;
font-weight: 600;
line-height: 29.26px;
text-align: center;

}
.all-cities-wrapper .city {
  height: 110px;
  margin-bottom: 26px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1B1B1D;
}
.all-cities-wrapper .city .data {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.all-cities-wrapper .city .data .title-small {
  
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
color: #777777;

}
.all-cities-wrapper .city .data .title-white {
  
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
  color: #fff;
  
  }
.all-cities-wrapper .city .data .title {
  
 
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
color: #FFFFFF;
  
  
  }
  .all-cities-wrapper .city .data img {
      height: 50px;
      width: 50px;
      object-fit: contain;
  }
